
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

//Bootstrap
@import '~bootstrap/scss/bootstrap';

//Animate
@import "~animate.css/animate.min.css";

h4 {
  text-transform: uppercase;
}

.product-list {
  margin: 5%;
}

.btn-circle {
  width: 70px;
  height: 70px;
  padding: 21px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.add-product {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.btn-menu-filter {
  position: fixed;
  right: 15px;
  bottom: 100px;
}

.menu-filter {
  background-color: white;
  border: 2px solid;
  border-color: #ffed4a;
  width: 270px;
  padding: 15px;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  position: fixed;
  bottom: 100px;
  right: 85px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

//------------------------  TABLE STYLE  ------------------------//
.table-hover tbody tr:hover {
  cursor: pointer;
}

.table-product {
  margin-bottom: 150px;
}

//------------------------  END TABLE STYLE  --------------------//

//------------------------  INPUT STYLE  ------------------------//
/*------ form starting stylings --------------------------------*/
.group-input {
  position: relative;
  margin-bottom: 0px;
}

input {
  font-size: 18px;
  padding: 10px 8px 8px 8px;
  display: block;
  top: 6px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

.add-phone {
  margin-bottom: 1%;
}

.btn-delete-phone {
  position: absolute;
  top: 15%;
  right: 5%;
  cursor: pointer;
}

.btn-clear-filter {
  cursor: pointer;
  margin-bottom: 1%;
  color: white;
}

.btn-clear-filter:hover {
  color: white;
}

.label-checkbox {
  bottom: 11px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 35px;
  cursor: pointer;
  top: 0px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $green;
}

input:focus + .slider {
  box-shadow: 0 0 1px $green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*------ label -------------------------------------------------*/
label 				 {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  bottom: 30px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/*------ label (active state) -----------------------------------*/
input:focus ~ label, input:valid ~ label 		{
  bottom: 50px;
  font-size: 14px;
  color: $original-green;
}

/*------ bottom bars -------------------------------------------*/
.bar {
  position: relative;
  display: block;
  width: auto;
  top: 6px;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: $original-light-blue;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/*------ bottom bars (active state) ----------------------------*/
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/*------ highlighter -------------------------------------------*/
.highlight {
  position: absolute;
  height: 60%;
  width: auto;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/*------ highlighter (active state)  ---------------------------*/
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/*------ animations --------------------------------------------*/
@-webkit-keyframes inputHighlighter {
  from { background:$original-blue; }
  to 	{ width:0; background:transparent; }
}

@-moz-keyframes inputHighlighter {
  from { background:$original-blue; }
  to 	{ width:0; background:transparent; }
}

@keyframes inputHighlighter {
  from { background:$original-blue; }
  to 	{ width:0; background:transparent; }
}

//------------------------  END INPUT STYLE  --------------------//